<html>

	<head>

		<title>NodeJs HomePage</title>

	</head>

	<body>

		<h1> This is NodeJs HomePage</h1>
			<table style="width:100%">
				<tr>
					<td>
						<form>
							<label for="name">Enter Your Email:</label><br>
							<input type="text" id="email" name="email"><br><br>
  							<input type="submit" value="Signup">
						</form>
					</td>

				</tr>
			</table>


	</body>
</html>